@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/roboto-condensed/roboto-condensed-regular.ttf")
		format("truetype");
}

:root {
	--traffic-blue: #005a8c;
	--border-radius: 4px;
}

body {
	font-family: "Roboto Condensed", sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;
}

button {
	background-color: var(--traffic-blue);
	color: white;
	border: solid var(--traffic-blue);
	border-radius: var(--border-radius);
	padding: 0.5em;
	cursor: pointer;
}

button:disabled {
	background-color: gray;
	border-color: gray;
	cursor: default;
}

.switch > input[type="checkbox"] {
	display: none;
}

.switch,
.slider {
	display: inline-block;
	border-radius: var(--border-radius);
}

.switch {
	height: 1em;
	width: 2em;
	padding: 0.25em 0.5em;
	background-color: lightgray;
}

.slider {
	height: 1em;
	width: 1em;
	background-color: white;
}

.switch > input[type="checkbox"]:checked + .slider {
	transform: translateX(1em);
	background-color: var(--traffic-blue);
}

.switch > input[type="checkbox"]:disabled + .slider {
	display: none;
}

#map,
#app {
	height: 50vh;
}

#app {
	padding: 0.5em;
	overflow-y: scroll;
}

@media (min-width: 62rem) {
	#map,
	#app {
		height: 100vh;
		float: left;
	}
	#map {
		width: 67%;
		float: left;
	}
	#app {
		width: 33%;
		box-sizing: border-box;
	}
}

.right {
	float: right;
	margin-left: 0.5em;
}

.marker {
	color: var(--traffic-blue);
}

.popup {
	display: flow-root;
}

#preferences {
	display: flex;
	align-items: center;
}

#preferences > .switch-label {
	margin-left: 0.25em;
}

#preferences > .switch + .switch-label {
	margin-right: 0.25em;
}

label[for="charging-stations"] > .fa-charging-station {
	color: var(--traffic-blue);
}

#parkings {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#parkings > li {
	margin: 0.5em 0;
}

.name {
	font-size: 1.25em;
	cursor: pointer;
}

.occupancy-green {
	background-color: lightgreen;
}

.occupancy-orange {
	background-color: orange;
}

.occupancy-red {
	background-color: red;
}

.parking-highlighted {
	background-color: lightgray;
}

.info {
	margin-top: 0.5em;
}
