dist
config.json
dummy.json
tiles
.vscode
__pycache__
screenshots
prediction/historical-data
prediction/venv
prediction/data*.csv
prediction/target.csv
prediction/model*.dat
prediction/raw-data
prediction/showcase
